/* =========================================
   CUERPOS, BRAZOS Y PIERNAS
   ========================================= */

.torso {
  position: relative;
  z-index: 1;
}

/* ---------- CUERPOS ---------- */

.stan-cuerpo {
  width: 205px;
  height: 150px;
  background-color: #5a3d2b;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 60% 60% 20% 20% / 100% 100% 20% 20%;
}
.kyle-cuerpo {
  width: 205px;
  height: 150px;
  background-color: #f28c28;
  
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 60% 60% 20% 20% / 100% 100% 20% 20%;
}
.cartman-cuerpo {
  width: 260px;
  height: 150px;
  background-color: #c62828;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  border-radius: 50% 50% 30% 30%;
}

/* ---------- BRAZOS ---------- */

.brazo {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  top: 60%;
}
.brazo.izquierdo { left: -15px; }
.brazo.derecho   { right: -15px; }

.stan-cuerpo    .brazo { background: #c62828; }
.kyle-cuerpo    .brazo { background: #2e8b57; }
.cartman-cuerpo .brazo { background: #f4d03f; }

/* ---------- PIERNAS ---------- */

.stan-cuerpo::after,
.kyle-cuerpo::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 40%;
  transform: translateX(-50%);
  width: 38px;
  height: 15px;
  background: #2c3e50;
  border-radius: 4px;
  box-shadow: 55px 0 0 #2c3e50;
}

.cartman-cuerpo::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 40%;
  transform: translateX(-50%);
  width: 50px;
  height: 18px;
  background: rgb(110, 46, 3);
  border-radius: 4px;
  box-shadow: 68px 0 0 rgb(110, 46, 3);
}